<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年11月28日 13时30分57秒 by Generator -->
<mapper namespace="com._360pai.core.dao.applet.mapper.TAppletOpenShopOrderMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.applet.TAppletOpenShopOrder">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="order_id" jdbcType="VARCHAR" property="orderId" />
	<result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
	<result column="amount" jdbcType="DECIMAL" property="amount" />
	<result column="pay_status" jdbcType="INTEGER" property="payStatus" />
	<result column="party_id" jdbcType="INTEGER" property="partyId" />
	<result column="open_id" jdbcType="VARCHAR" property="openId" />
	<result column="type" jdbcType="INTEGER" property="type" />
	<result column="is_delete" jdbcType="BIT" property="isDelete" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, order_id, prepay_id, amount, pay_status, party_id, 
	open_id, type, is_delete, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_applet_open_shop_order
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.applet.TAppletOpenShopOrderCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_applet_open_shop_order
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="orderId != null">
        AND order_id = #{orderId,jdbcType=VARCHAR}
      </if>
      <if test="prepayId != null">
        AND prepay_id = #{prepayId,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="payStatus != null">
        AND pay_status = #{payStatus,jdbcType=INTEGER}
      </if>
      <if test="partyId != null">
        AND party_id = #{partyId,jdbcType=INTEGER}
      </if>
      <if test="openId != null">
        AND open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.applet.TAppletOpenShopOrder">
    insert into zeus.t_applet_open_shop_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="orderId != null">
        order_id, 
      </if>
      <if test="prepayId != null">
        prepay_id, 
      </if>
      <if test="amount != null">
        amount, 
      </if>
      <if test="payStatus != null">
        pay_status, 
      </if>
      <if test="partyId != null">
        party_id, 
      </if>
      <if test="openId != null">
        open_id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="isDelete != null">
        is_delete, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.applet.TAppletOpenShopOrder">
    update zeus.t_applet_open_shop_order
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>




  <select id="getAppletNotPayOrderList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zeus.t_applet_open_shop_order
    where
    is_delete = 0
    and pay_status = '0'
    and ( create_time > date_sub(now(), interval 0.5 hour) or
    update_time > date_sub(now(), interval 0.5 hour))


  </select>



</mapper>