<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年11月22日 14时40分30秒 by Generator -->
<mapper namespace="com._360pai.core.dao.applet.mapper.TAppletFavoriteShopMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.applet.TAppletFavoriteShop">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="shop_id" jdbcType="INTEGER" property="shopId" />
	<result column="open_id" jdbcType="VARCHAR" property="openId" />
	<result column="is_delete" jdbcType="BIT" property="isDelete" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, shop_id, open_id, is_delete, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_applet_favorite_shop
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.applet.TAppletFavoriteShopCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_applet_favorite_shop
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="shopId != null">
        AND shop_id = #{shopId,jdbcType=INTEGER}
      </if>
      <if test="openId != null">
        AND open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.applet.TAppletFavoriteShop">
    insert into zeus.t_applet_favorite_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="shopId != null">
        shop_id, 
      </if>
      <if test="openId != null">
        open_id, 
      </if>
      <if test="isDelete != null">
        is_delete, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.applet.TAppletFavoriteShop">
    update zeus.t_applet_favorite_shop
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getShopListByPage" parameterType="java.util.Map" resultType="com._360pai.core.model.applet.TAppletShop">
      select s.*
      from zeus.t_applet_favorite_shop fs
      inner join zeus.t_applet_shop s on s.id=fs.shop_id
      where fs.is_delete='0' and fs.open_id=#{openId}
      order by fs.id desc
  </select>

</mapper>