<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月24日 15时09分36秒 by Generator -->
<mapper namespace="com.winback.gateway.dao.push.mapper.TGatewayGetuiRecordMapper">

  <resultMap id="BaseResultMap" type="com.winback.gateway.model.push.TGatewayGetuiRecord">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="type" jdbcType="INTEGER" property="type" />
	<result column="bus_type" jdbcType="VARCHAR" property="busType" />
	<result column="status" jdbcType="INTEGER" property="status" />
	<result column="req_param" jdbcType="LONGVARCHAR" property="reqParam" />
	<result column="resp_param" jdbcType="LONGVARCHAR" property="respParam" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />

  </resultMap>

  <sql id="Base_Column_List">
	id, type, bus_type, status, req_param, resp_param, 
	delete_flag, create_time, update_time,client_id
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_gateway_getui_record
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.gateway.condition.push.TGatewayGetuiRecordCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_gateway_getui_record
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="busType != null">
        AND bus_type = #{busType,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="reqParam != null">
        AND req_param = #{reqParam,jdbcType=LONGVARCHAR}
      </if>
      <if test="respParam != null">
        AND resp_param = #{respParam,jdbcType=LONGVARCHAR}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>

      <if test="clientId != null">
        AND client_id = #{clientId,jdbcType=VARCHAR}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.gateway.model.push.TGatewayGetuiRecord">
    insert into win.t_gateway_getui_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="busType != null">
        bus_type, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="reqParam != null">
        req_param, 
      </if>
      <if test="respParam != null">
        resp_param, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>

      <if test="clientId != null">
        client_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="busType != null">
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reqParam != null">
        #{reqParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="respParam != null">
        #{respParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>

      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.gateway.model.push.TGatewayGetuiRecord">
    update win.t_gateway_getui_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="busType != null">
        bus_type = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reqParam != null">
        req_param = #{reqParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="respParam != null">
        resp_param = #{respParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>

      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>