<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月18日 16时48分41秒 by Generator -->
<mapper namespace="com.winback.core.dao.assistant.mapper.THelpItemMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.assistant.THelpItem">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="title" jdbcType="VARCHAR" property="title" />
	<result column="content" jdbcType="LONGVARCHAR" property="content" />
	<result column="link" jdbcType="VARCHAR" property="link" />
	<result column="display" jdbcType="BIT" property="display" />
	<result column="order_num" jdbcType="INTEGER" property="orderNum" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, title, content, link, display, order_num, 
	delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_help_item
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.assistant.THelpItemCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_help_item
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="title != null">
        AND title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="content != null">
        AND content = #{content,jdbcType=LONGVARCHAR}
      </if>
      <if test="link != null">
        AND link = #{link,jdbcType=VARCHAR}
      </if>
      <if test="display != null">
        AND display = #{display,jdbcType=BIT}
      </if>
      <if test="orderNum != null">
        AND order_num = #{orderNum,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.assistant.THelpItem">
    insert into win.t_help_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="title != null">
        title, 
      </if>
      <if test="content != null">
        content, 
      </if>
      <if test="link != null">
        link, 
      </if>
      <if test="display != null">
        display, 
      </if>
      <if test="orderNum != null">
        order_num, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        #{display,jdbcType=BIT},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.assistant.THelpItem">
    update win.t_help_item
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        display = #{display,jdbcType=BIT},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getHelpItemList" resultType="com.winback.core.facade.assistant.vo.HelpItem">
    select id,title,content,link,create_time
    from win.t_help_item
    <where>
      delete_flag=0
      <if test="display != null"> and display=#{display}</if>
    </where>
    order by order_num desc, id desc
  </select>
</mapper>