<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年04月19日 13时37分40秒 by Generator -->
<mapper namespace="com.tzCloud.core.dao.account.mapper.TAccountMembershipPermissionMapper">

  <resultMap id="BaseResultMap" type="com.tzCloud.core.model.account.TAccountMembershipPermission">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="permission_type" jdbcType="VARCHAR" property="permissionType" />
	<result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
	<result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
	<result column="day_limit" jdbcType="INTEGER" property="dayLimit" />
	<result column="total_limit" jdbcType="INTEGER" property="totalLimit" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, type, permission_type, permission_name, permission_code, day_limit, 
	total_limit, delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from t_account_membership_permission
  </select>
  
  <select id="selectByCondition" parameterType="com.tzCloud.core.condition.account.TAccountMembershipPermissionCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from t_account_membership_permission
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="permissionType != null">
        AND permission_type = #{permissionType,jdbcType=VARCHAR}
      </if>
      <if test="permissionName != null">
        AND permission_name = #{permissionName,jdbcType=VARCHAR}
      </if>
      <if test="permissionCode != null">
        AND permission_code = #{permissionCode,jdbcType=VARCHAR}
      </if>
      <if test="dayLimit != null">
        AND day_limit = #{dayLimit,jdbcType=INTEGER}
      </if>
      <if test="totalLimit != null">
        AND total_limit = #{totalLimit,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.tzCloud.core.model.account.TAccountMembershipPermission">
    insert into t_account_membership_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="permissionType != null">
        permission_type, 
      </if>
      <if test="permissionName != null">
        permission_name, 
      </if>
      <if test="permissionCode != null">
        permission_code, 
      </if>
      <if test="dayLimit != null">
        day_limit, 
      </if>
      <if test="totalLimit != null">
        total_limit, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null">
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="dayLimit != null">
        #{dayLimit,jdbcType=INTEGER},
      </if>
      <if test="totalLimit != null">
        #{totalLimit,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.tzCloud.core.model.account.TAccountMembershipPermission">
    update t_account_membership_permission
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        permission_type = #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null">
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="dayLimit != null">
        day_limit = #{dayLimit,jdbcType=INTEGER},
      </if>
      <if test="totalLimit != null">
        total_limit = #{totalLimit,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>