<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月16日 15时40分04秒 by Generator -->
<mapper namespace="com.winback.core.dao.connect.mapper.TConnectRoomMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.connect.TConnectRoom">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="case_id" jdbcType="INTEGER" property="caseId" />
	<result column="open_flag" jdbcType="BIT" property="openFlag" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, name, case_id, open_flag, delete_flag, create_time, 
	update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_connect_room
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.connect.TConnectRoomCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_connect_room
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="caseId != null">
        AND case_id = #{caseId,jdbcType=INTEGER}
      </if>
      <if test="openFlag != null">
        AND open_flag = #{openFlag,jdbcType=BIT}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.winback.core.model.connect.TConnectRoom" >
    insert into win.t_connect_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="caseId != null">
        case_id, 
      </if>
      <if test="openFlag != null">
        open_flag, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="openFlag != null">
        #{openFlag,jdbcType=BIT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.connect.TConnectRoom">
    update win.t_connect_room
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="openFlag != null">
        open_flag = #{openFlag,jdbcType=BIT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>
  
  <select id="getRomeByAccountId" parameterType="String" resultType="com.winback.core.model.connect.TConnectRoom">
    SELECT
        tcr.*
    FROM
        t_connect_room tcr
        LEFT JOIN t_connect_room_person tcrp ON tcrp.room_id = tcr.id
    WHERE
        1 = 1
        AND tcr.case_id IS NULL
        AND tcr.delete_flag = 0
        AND tcrp.delete_flag = 0
        AND tcrp.relevance_id = #{accountId}
  </select>

</mapper>