<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月18日 13时38分36秒 by Generator -->
<mapper namespace="com.winback.core.dao.contract.mapper.TContractShoppingCartMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.contract.TContractShoppingCart">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="account_id" jdbcType="INTEGER" property="accountId" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, account_id, delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_contract_shopping_cart
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.contract.TContractShoppingCartCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_contract_shopping_cart
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        AND account_id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.contract.TContractShoppingCart" useGeneratedKeys="true" keyProperty="id">
    insert into win.t_contract_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="accountId != null">
        account_id, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.contract.TContractShoppingCart">
    update win.t_contract_shopping_cart
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getContractIdList" resultType="java.lang.Integer">
    select i.contract_id
    from win.t_contract_shopping_cart c
    inner join win.t_contract_shopping_cart_item i on i.shopping_cart_id=c.id
    where i.delete_flag=0 and c.account_id=#{accountId}
  </select>

  <select id="isInShoppingCart" resultType="java.lang.Integer">
    select i.id
    from win.t_contract_shopping_cart c
    inner join win.t_contract_shopping_cart_item i on i.shopping_cart_id=c.id
    where i.delete_flag=0 and c.account_id=#{accountId} and i.contract_id=#{contractId}
  </select>

  <insert id="migrateFromAppletToApp">
    insert into win.t_contract_shopping_cart_item(shopping_cart_id, contract_id)
    select #{shoppingCartId}, sci.contract_id
    from win.t_applet_contract_shopping_cart_item sci
    where sci.shopping_cart_id=#{appletShoppingCartId} and sci.delete_flag=0 and sci.contract_id not in (
      select  sci.contract_id
      from win.t_contract_shopping_cart_item sci
      where sci.shopping_cart_id=#{shoppingCartId} and sci.delete_flag=0
    )
  </insert>
</mapper>