<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月18日 13时38分36秒 by Generator -->
<mapper namespace="com.winback.core.dao.contract.mapper.TContractShoppingCartItemMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.contract.TContractShoppingCartItem">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="shopping_cart_id" jdbcType="INTEGER" property="shoppingCartId" />
	<result column="contract_id" jdbcType="INTEGER" property="contractId" />
	<result column="num" jdbcType="INTEGER" property="num" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, shopping_cart_id, contract_id, num, delete_flag, create_time, 
	update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_contract_shopping_cart_item
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.contract.TContractShoppingCartItemCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_contract_shopping_cart_item
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="shoppingCartId != null">
        AND shopping_cart_id = #{shoppingCartId,jdbcType=INTEGER}
      </if>
      <if test="contractId != null">
        AND contract_id = #{contractId,jdbcType=INTEGER}
      </if>
      <if test="num != null">
        AND num = #{num,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.contract.TContractShoppingCartItem" useGeneratedKeys="true" keyProperty="id">
    insert into win.t_contract_shopping_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="shoppingCartId != null">
        shopping_cart_id, 
      </if>
      <if test="contractId != null">
        contract_id, 
      </if>
      <if test="num != null">
        num, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shoppingCartId != null">
        #{shoppingCartId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.contract.TContractShoppingCartItem">
    update win.t_contract_shopping_cart_item
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="shoppingCartId != null">
        shopping_cart_id = #{shoppingCartId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <update id="clearShoppingCart">
    update win.t_contract_shopping_cart_item
    set delete_flag=1
    where delete_flag=0 and shopping_cart_id=#{shoppingCartId}
  </update>
</mapper>