<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年02月18日 15时17分17秒 by Generator -->
<mapper namespace="com.winback.core.dao.contract.mapper.TContractInvoiceOrderMapMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.contract.TContractInvoiceOrderMap">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
	<result column="order_id" jdbcType="INTEGER" property="orderId" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, invoice_id, order_id, delete_flag, create_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_contract_invoice_order_map
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.contract.TContractInvoiceOrderMapCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_contract_invoice_order_map
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="invoiceId != null">
        AND invoice_id = #{invoiceId,jdbcType=INTEGER}
      </if>
      <if test="orderId != null">
        AND order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.contract.TContractInvoiceOrderMap">
    insert into win.t_contract_invoice_order_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="invoiceId != null">
        invoice_id, 
      </if>
      <if test="orderId != null">
        order_id, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.contract.TContractInvoiceOrderMap">
    update win.t_contract_invoice_order_map
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="invoiceId != null">
        invoice_id = #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getOrderList" parameterType="java.util.Map" resultType="com.winback.core.model.contract.TContractOrder">
      select o.*
      from win.t_contract_invoice_order_map m
      inner join win.t_contract_order o on o.id=m.order_id
      where m.invoice_id=#{invoiceId} and m.delete_flag=0
  </select>
</mapper>