<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月06日 18时32分31秒 by Generator -->
<mapper namespace="com._360pai.core.dao.withfudig.mapper.TWithfudigConfigMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.withfudig.TWithfudigConfig">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="rank" jdbcType="INTEGER" property="rank" />
	<result column="description" jdbcType="VARCHAR" property="description" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="is_delete" jdbcType="BIT" property="isDelete" />
	<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
  </resultMap>

  <sql id="Base_Column_List">
	id, rank, description, remark, is_delete, created_time, 
	update_time, operator_id
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_withfudig_config  where id_delete = 0
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.withfudig.TWithfudigConfigCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_withfudig_config
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="rank != null">
        AND rank = #{rank,jdbcType=INTEGER}
      </if>
      <if test="description != null">
        AND description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createdTime != null">
        AND created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="operatorId != null">
        AND operator_id = #{operatorId,jdbcType=VARCHAR}
      </if>
      AND is_delete = 0
	</where>
    order by rank asc
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.withfudig.TWithfudigConfig">
    insert into zeus.t_withfudig_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="rank != null">
        rank, 
      </if>
      <if test="description != null">
        description, 
      </if>
      <if test="remark != null">
        remark, 
      </if>
      <if test="isDelete != null">
        is_delete, 
      </if>
      <if test="createdTime != null">
        created_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
      <if test="operatorId != null">
        operator_id, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.withfudig.TWithfudigConfig">
    update zeus.t_withfudig_config
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="selectMaxRank" resultType="integer">
  select max(rank) from zeus.t_withfudig_config
  </select>

</mapper>