<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月06日 19时24分48秒 by Generator -->
<mapper namespace="com._360pai.core.dao.asset.mapper.TAssetFieldModelMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.asset.TAssetFieldModel">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="extensible" jdbcType="INTEGER" property="extensible"/>
        <result column="model_title" jdbcType="VARCHAR" property="modelTitle"/>
        <result column="template_id" jdbcType="INTEGER" property="templateId"/>
        <result column="field_group_id" jdbcType="INTEGER" property="fieldGroupId"/>
        <result column="model_key" jdbcType="VARCHAR" property="modelKey"/>
        <result column="show_title" jdbcType="INTEGER" property="showTitle"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, extensible, model_title, template_id,model_key ,field_group_id,show_title
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_asset_field_model
    </select>

    <select id="selectByCondition" parameterType="com._360pai.core.condition.asset.TAssetFieldModelCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_asset_field_model
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="extensible != null">
                AND extensible = #{extensible,jdbcType=INTEGER}
            </if>
            <if test="modelTitle != null">
                AND model_title = #{modelTitle,jdbcType=VARCHAR}
            </if>
            <if test="templateId != null">
                AND template_id = #{templateId,jdbcType=INTEGER}
            </if>
            <if test="fieldGroupId != null">
                AND field_group_id = #{fieldGroupId,jdbcType=INTEGER}
            </if>
            <if test="modelKey != null">
                AND model_key = #{modelKey,jdbcType=VARCHAR}
            </if>
            <if test="showTitle != null">
                AND show_title = #{showTitle,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.asset.TAssetFieldModel">
        insert into zeus.t_asset_field_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="extensible != null">
                extensible,
            </if>
            <if test="modelTitle != null">
                model_title,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="fieldGroupId != null">
                field_group_id,
            </if>
            <if test="modelKey != null">
                model_key,
            </if>
            <if test="showTitle != null">
                show_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="extensible != null">
                #{extensible,jdbcType=INTEGER},
            </if>
            <if test="modelTitle != null">
                #{modelTitle,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=INTEGER},
            </if>
            <if test="fieldGroupId != null">
                #{fieldGroupId,jdbcType=INTEGER},
            </if>
            <if test="modelKey != null">
                #{modelKey,jdbcType=VARCHAR},
            </if>
            <if test="showTitle != null">
                #{showTitle,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.asset.TAssetFieldModel">
        update zeus.t_asset_field_model
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="extensible != null">
                extensible = #{extensible,jdbcType=INTEGER},
            </if>
            <if test="modelTitle != null">
                model_title = #{modelTitle,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null">
                template_id = #{templateId,jdbcType=INTEGER},
            </if>
            <if test="fieldGroupId != null">
                field_group_id = #{fieldGroupId,jdbcType=INTEGER},
            </if>
            <if test="modelKey != null">
                model_key = #{modelKey,jdbcType=VARCHAR},
            </if>
            <if test="showTitle != null">
                show_title = #{showTitle,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

</mapper>