<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月31日 11时03分31秒 by Generator -->
<mapper namespace="com._360pai.core.dao.asset.mapper.TAssetPropertyEnrollingMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.asset.TAssetPropertyEnrolling">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="asset_property_id" jdbcType="INTEGER" property="assetPropertyId" />
	<result column="activity_id" jdbcType="INTEGER" property="activityId" />
	<result column="crteate_at" jdbcType="TIMESTAMP" property="crteateAt" />
  </resultMap>

  <sql id="Base_Column_List">
	id, asset_property_id, activity_id, crteate_at
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_asset_property_enrolling
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.asset.TAssetPropertyEnrollingCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_asset_property_enrolling
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="assetPropertyId != null">
        AND asset_property_id = #{assetPropertyId,jdbcType=INTEGER}
      </if>
      <if test="activityId != null">
        AND activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="crteateAt != null">
        AND crteate_at = #{crteateAt,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.asset.TAssetPropertyEnrolling">
    insert into zeus.t_asset_property_enrolling
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="assetPropertyId != null">
        asset_property_id, 
      </if>
      <if test="activityId != null">
        activity_id, 
      </if>
      <if test="crteateAt != null">
        crteate_at, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetPropertyId != null">
        #{assetPropertyId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="crteateAt != null">
        #{crteateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.asset.TAssetPropertyEnrolling">
    update zeus.t_asset_property_enrolling
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="assetPropertyId != null">
        asset_property_id = #{assetPropertyId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="crteateAt != null">
        crteate_at = #{crteateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>