<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月30日 17时10分43秒 by Generator -->
<mapper namespace="com._360pai.core.dao.asset.mapper.TAssetTemplateFieldGroupMapMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.asset.TAssetTemplateFieldGroupMap">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="asset_template_category_id" jdbcType="INTEGER" property="assetTemplateCategoryId"/>
        <result column="asset_field_group_id" jdbcType="INTEGER" property="assetFieldGroupId"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, asset_template_category_id, asset_field_group_id
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_asset_template_field_group_map
    </select>

    <select id="selectByCondition" parameterType="com._360pai.core.condition.asset.TAssetTemplateFieldGroupMapCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_asset_template_field_group_map
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="assetTemplateCategoryId != null">
                AND asset_template_category_id = #{assetTemplateCategoryId,jdbcType=INTEGER}
            </if>
            <if test="assetFieldGroupId != null">
                AND asset_field_group_id = #{assetFieldGroupId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.asset.TAssetTemplateFieldGroupMap">
        insert into zeus.t_asset_template_field_group_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="assetTemplateCategoryId != null">
                asset_template_category_id,
            </if>
            <if test="assetFieldGroupId != null">
                asset_field_group_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="assetTemplateCategoryId != null">
                #{assetTemplateCategoryId,jdbcType=INTEGER},
            </if>
            <if test="assetFieldGroupId != null">
                #{assetFieldGroupId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.asset.TAssetTemplateFieldGroupMap">
        update zeus.t_asset_template_field_group_map
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="assetTemplateCategoryId != null">
                asset_template_category_id = #{assetTemplateCategoryId,jdbcType=INTEGER},
            </if>
            <if test="assetFieldGroupId != null">
                asset_field_group_id = #{assetFieldGroupId,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <select id="getTemplateGroup" resultType="java.util.Map">
      SELECT
      afgf.id as id,
      afgf.asset_field_group_id as assetFieldGroupId,
      afgf.asset_template_category_id as assetTemplateCategoryId,
      afg.`name` as assetFieldGroupName,
      afg.`title` as assetFieldGroupTitle,
      afgf.`extensible` as extensible
      FROM t_asset_template_field_group_map afgf
      LEFT JOIN t_asset_field_group afg on afgf.asset_field_group_id = afg.id
      where afgf.asset_template_category_id = #{paramsId}
  </select>

</mapper>