<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月26日 16时17分16秒 by Generator -->
<mapper namespace="com._360pai.core.dao.asset.mapper.TAssetCategoryOptionMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.asset.TAssetCategoryOption">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="asset_category_id" jdbcType="INTEGER" property="assetCategoryId" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="enable" jdbcType="INTEGER" property="enable" />
	<result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>

  <sql id="Base_Column_List">
	id, asset_category_id, name, `enable`,order_num
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_asset_category_option
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.asset.TAssetCategoryOptionCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_asset_category_option
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="assetCategoryId != null">
        AND asset_category_id = #{assetCategoryId,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="enable != null">
        AND ENABLE = #{enable,jdbcType=INTEGER}
      </if>
      <if test="orderNum != null">
        AND order_num = #{orderNum,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.asset.TAssetCategoryOption">
    insert into zeus.t_asset_category_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="assetCategoryId != null">
        asset_category_id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="enable != null">
        enable, 
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetCategoryId != null">
        #{assetCategoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.asset.TAssetCategoryOption">
    update zeus.t_asset_category_option
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="assetCategoryId != null">
        asset_category_id = #{assetCategoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>