<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月13日 16时55分32秒 by Generator -->
<mapper namespace="com._360pai.core.dao.asset.mapper.TAssetTemplateRecodeMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.asset.TAssetTemplateRecode">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="template_id" jdbcType="INTEGER" property="templateId" />
	<result column="filter_id" jdbcType="INTEGER" property="filterId" />
	<result column="filter_option_id" jdbcType="INTEGER" property="filterOptionId" />
	<result column="filter_option_item_id" jdbcType="INTEGER" property="filterOptionItemId" />
	<result column="filter_option_item_data_id" jdbcType="INTEGER" property="filterOptionItemDataId" />
	<result column="model_id" jdbcType="INTEGER" property="modelId" />
	<result column="model_option_id" jdbcType="INTEGER" property="modelOptionId" />
	<result column="group_id" jdbcType="INTEGER" property="groupId" />
	<result column="party_id" jdbcType="INTEGER" property="partyId" />
	<result column="version" jdbcType="VARCHAR" property="version" />
	<result column="is_del" jdbcType="INTEGER" property="isDel" />
	<result column="is_submit" jdbcType="INTEGER" property="isSubmit" />
  </resultMap>

  <sql id="Base_Column_List">
	id, template_id, filter_id, filter_option_id, filter_option_item_id, filter_option_item_data_id, 
	model_id, model_option_id, group_id, party_id, version, is_del, 
	is_submit
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_asset_template_recode
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.asset.TAssetTemplateRecodeCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_asset_template_recode
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="templateId != null">
        AND template_id = #{templateId,jdbcType=INTEGER}
      </if>
      <if test="filterId != null">
        AND filter_id = #{filterId,jdbcType=INTEGER}
      </if>
      <if test="filterOptionId != null">
        AND filter_option_id = #{filterOptionId,jdbcType=INTEGER}
      </if>
      <if test="filterOptionItemId != null">
        AND filter_option_item_id = #{filterOptionItemId,jdbcType=INTEGER}
      </if>
      <if test="filterOptionItemDataId != null">
        AND filter_option_item_data_id = #{filterOptionItemDataId,jdbcType=INTEGER}
      </if>
      <if test="modelId != null">
        AND model_id = #{modelId,jdbcType=INTEGER}
      </if>
      <if test="modelOptionId != null">
        AND model_option_id = #{modelOptionId,jdbcType=INTEGER}
      </if>
      <if test="groupId != null">
        AND group_id = #{groupId,jdbcType=INTEGER}
      </if>
      <if test="partyId != null">
        AND party_id = #{partyId,jdbcType=INTEGER}
      </if>
      <if test="version != null">
        AND version = #{version,jdbcType=VARCHAR}
      </if>
      <if test="isDel != null">
        AND is_del = #{isDel,jdbcType=INTEGER}
      </if>
      <if test="isSubmit != null">
        AND is_submit = #{isSubmit,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.asset.TAssetTemplateRecode">
    insert into zeus.t_asset_template_recode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="templateId != null">
        template_id, 
      </if>
      <if test="filterId != null">
        filter_id, 
      </if>
      <if test="filterOptionId != null">
        filter_option_id, 
      </if>
      <if test="filterOptionItemId != null">
        filter_option_item_id, 
      </if>
      <if test="filterOptionItemDataId != null">
        filter_option_item_data_id, 
      </if>
      <if test="modelId != null">
        model_id, 
      </if>
      <if test="modelOptionId != null">
        model_option_id, 
      </if>
      <if test="groupId != null">
        group_id, 
      </if>
      <if test="partyId != null">
        party_id, 
      </if>
      <if test="version != null">
        version, 
      </if>
      <if test="isDel != null">
        is_del, 
      </if>
      <if test="isSubmit != null">
        is_submit, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="filterId != null">
        #{filterId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionId != null">
        #{filterOptionId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionItemId != null">
        #{filterOptionItemId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionItemDataId != null">
        #{filterOptionItemDataId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="modelOptionId != null">
        #{modelOptionId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isSubmit != null">
        #{isSubmit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.asset.TAssetTemplateRecode">
    update zeus.t_asset_template_recode
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="filterId != null">
        filter_id = #{filterId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionId != null">
        filter_option_id = #{filterOptionId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionItemId != null">
        filter_option_item_id = #{filterOptionItemId,jdbcType=INTEGER},
      </if>
      <if test="filterOptionItemDataId != null">
        filter_option_item_data_id = #{filterOptionItemDataId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="modelOptionId != null">
        model_option_id = #{modelOptionId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isSubmit != null">
        is_submit = #{isSubmit,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>