<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月23日 16时29分01秒 by Generator -->
<mapper namespace="com.winback.core.dao.risk.mapper.TRiskInvestmentMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.risk.TRiskInvestment">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="key_word" jdbcType="VARCHAR" property="keyWord" />
	<result column="com_name" jdbcType="VARCHAR" property="comName" />
	<result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
	<result column="regist_capital" jdbcType="VARCHAR" property="registCapital" />
	<result column="invest_scale" jdbcType="VARCHAR" property="investScale" />
	<result column="setup_date" jdbcType="VARCHAR" property="setupDate" />
	<result column="status" jdbcType="VARCHAR" property="status" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, key_word, com_name, legal_person, regist_capital, invest_scale, 
	setup_date, status, delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_risk_investment
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.risk.TRiskInvestmentCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_risk_investment
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="keyWord != null">
        AND key_word = #{keyWord,jdbcType=VARCHAR}
      </if>
      <if test="comName != null">
        AND com_name = #{comName,jdbcType=VARCHAR}
      </if>
      <if test="legalPerson != null">
        AND legal_person = #{legalPerson,jdbcType=VARCHAR}
      </if>
      <if test="registCapital != null">
        AND regist_capital = #{registCapital,jdbcType=VARCHAR}
      </if>
      <if test="investScale != null">
        AND invest_scale = #{investScale,jdbcType=VARCHAR}
      </if>
      <if test="setupDate != null">
        AND setup_date = #{setupDate,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.risk.TRiskInvestment">
    insert into win.t_risk_investment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="keyWord != null">
        key_word, 
      </if>
      <if test="comName != null">
        com_name, 
      </if>
      <if test="legalPerson != null">
        legal_person, 
      </if>
      <if test="registCapital != null">
        regist_capital, 
      </if>
      <if test="investScale != null">
        invest_scale, 
      </if>
      <if test="setupDate != null">
        setup_date, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null">
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="registCapital != null">
        #{registCapital,jdbcType=VARCHAR},
      </if>
      <if test="investScale != null">
        #{investScale,jdbcType=VARCHAR},
      </if>
      <if test="setupDate != null">
        #{setupDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.risk.TRiskInvestment">
    update win.t_risk_investment
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null">
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="registCapital != null">
        regist_capital = #{registCapital,jdbcType=VARCHAR},
      </if>
      <if test="investScale != null">
        invest_scale = #{investScale,jdbcType=VARCHAR},
      </if>
      <if test="setupDate != null">
        setup_date = #{setupDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>



  <insert id="batchSaveRiskInvestment" useGeneratedKeys="true" keyProperty="id"
          keyColumn="id" parameterType="java.util.List">
    INSERT INTO win.t_risk_investment (key_word, com_name, legal_person, regist_capital,invest_scale,setup_date, status,delete_flag,create_time)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.keyWord},#{item.comName},#{item.legalPerson},#{item.registCapital},#{item.investScale},#{item.setupDate},#{item.status},#{item.deleteFlag},#{item.createTime})
    </foreach>
  </insert>



</mapper>