<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年10月06日 23时43分10秒 by Generator -->
<mapper namespace="com._360pai.core.dao.order.mapper.TServiceAccountBankMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.order.TServiceAccountBank">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="account_id" jdbcType="INTEGER" property="accountId" />
	<result column="party_id" jdbcType="INTEGER" property="partyId" />
	<result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
	<result column="bank_name" jdbcType="VARCHAR" property="bankName" />
	<result column="user_name" jdbcType="VARCHAR" property="userName" />
	<result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
	<result column="current_biding" jdbcType="BIT" property="currentBiding" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>

  <sql id="Base_Column_List">
	id, account_id, party_id,bank_no, bank_name, user_name, bank_address,
	current_biding, create_time, update_time, del_flag
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_service_account_bank
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.order.TServiceAccountBankCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_service_account_bank
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        AND account_id = #{accountId,jdbcType=INTEGER}
      </if>
    <if test="partyId != null  and partyId != ''">
        AND party_id = #{partyId,jdbcType=INTEGER}
    </if>
      <if test="bankNo != null">
        AND bank_no = #{bankNo,jdbcType=VARCHAR}
      </if>
      <if test="bankName != null">
        AND bank_name = #{bankName,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        AND user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="bankAddress != null">
        AND bank_address = #{bankAddress,jdbcType=VARCHAR}
      </if>
      <if test="currentBiding != null">
        AND current_biding = #{currentBiding,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="delFlag != null">
        AND del_flag = #{delFlag,jdbcType=BIT}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.order.TServiceAccountBank" useGeneratedKeys="true" keyProperty="id">
    insert into zeus.t_service_account_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="accountId != null">
        account_id, 
      </if>
    <if test="partyId != null">
        party_id,
    </if>
      <if test="bankNo != null">
        bank_no, 
      </if>
      <if test="bankName != null">
        bank_name, 
      </if>
      <if test="userName != null">
        user_name, 
      </if>
      <if test="bankAddress != null">
        bank_address, 
      </if>
      <if test="currentBiding != null">
        current_biding, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
      <if test="delFlag != null">
        del_flag, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
    <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
    </if>
        <if test="bankNo != null">
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="currentBiding != null">
        #{currentBiding,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.order.TServiceAccountBank">
    update zeus.t_service_account_bank
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
    <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
    </if>
      <if test="bankNo != null">
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        bank_address = #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="currentBiding != null">
        current_biding = #{currentBiding,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

    <update id="updateByPartyId" parameterType="com._360pai.core.model.order.TServiceAccountBank">
        update zeus.t_service_account_bank
        <set>
            <if test="bankNo != null">
                bank_no = #{bankNo,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="bankAddress != null">
                bank_address = #{bankAddress,jdbcType=VARCHAR},
            </if>
            <if test="currentBiding != null">
                current_biding = #{currentBiding,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        <where>
            AND party_id = #{partyId,jdbcType=INTEGER}
        </where>
    </update>

</mapper>