<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分52秒 by Generator -->
<mapper namespace="com._360pai.core.dao.payment.mapper.LockPayOrderActionMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.payment.LockPayOrderAction">
	<result column="id" jdbcType="VARCHAR" property="id" />
	<result column="pay_by_buyer" jdbcType="BIT" property="payByBuyer" />
  </resultMap>

  <sql id="Base_Column_List">
	id, pay_by_buyer
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.lock_pay_order_action
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.payment.LockPayOrderActionCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.lock_pay_order_action
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="payByBuyer != null">
        AND pay_by_buyer = #{payByBuyer,jdbcType=BIT}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.payment.LockPayOrderAction">
    insert into zeus.lock_pay_order_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="payByBuyer != null">
        pay_by_buyer, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="payByBuyer != null">
        #{payByBuyer,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.payment.LockPayOrderAction">
    update zeus.lock_pay_order_action
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="payByBuyer != null">
        pay_by_buyer = #{payByBuyer,jdbcType=BIT},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=VARCHAR}
	</where>
  </update>

</mapper>