<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分54秒 by Generator -->
<mapper namespace="com._360pai.core.dao.enrolling.mapper.EnrollingActivityResultMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.enrolling.EnrollingActivityResult">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="activity_id" jdbcType="INTEGER" property="activityId" />
	<result column="buyer_type" jdbcType="CHAR" property="buyerType" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="number" jdbcType="VARCHAR" property="number" />
	<result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>

  <sql id="Base_Column_List">
	id, activity_id, buyer_type, name, number, price
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.enrolling_activity_result
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.enrolling.EnrollingActivityResultCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.enrolling_activity_result
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="activityId != null">
        AND activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="buyerType != null">
        AND buyer_type = #{buyerType,jdbcType=CHAR}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="number != null">
        AND number = #{number,jdbcType=VARCHAR}
      </if>
      <if test="price != null">
        AND price = #{price,jdbcType=DECIMAL}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.enrolling.EnrollingActivityResult">
    insert into zeus.enrolling_activity_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="activityId != null">
        activity_id, 
      </if>
      <if test="buyerType != null">
        buyer_type, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="number != null">
        number, 
      </if>
      <if test="price != null">
        price, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="buyerType != null">
        #{buyerType,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.enrolling.EnrollingActivityResult">
    update zeus.enrolling_activity_result
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="buyerType != null">
        buyer_type = #{buyerType,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>