<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月15日 16时37分04秒 by Generator -->
<mapper namespace="com._360pai.core.dao.fdd.mapper.GatewayFddRecordMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.fdd.GatewayFddRecord">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="bus_id" jdbcType="VARCHAR" property="busId" />
	<result column="req_type" jdbcType="VARCHAR" property="reqType" />
	<result column="request_param" jdbcType="LONGVARCHAR" property="requestParam" />
	<result column="response_param" jdbcType="LONGVARCHAR" property="responseParam" />
	<result column="response_code" jdbcType="VARCHAR" property="responseCode" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, bus_id,req_type, request_param, response_param, response_code,
	create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.gateway_fdd_record
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.fdd.GatewayFddRecordCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.gateway_fdd_record
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="busId != null">
        AND bus_id = #{busId,jdbcType=VARCHAR}
      </if>
      <if test="reqType != null">
        AND req_type = #{reqType,jdbcType=VARCHAR}
      </if>
      <if test="requestParam != null">
        AND request_param = #{requestParam,jdbcType=LONGVARCHAR}
      </if>
      <if test="responseParam != null">
        AND response_param = #{responseParam,jdbcType=LONGVARCHAR}
      </if>
      <if test="responseCode != null">
        AND response_code = #{responseCode,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.fdd.GatewayFddRecord">
    insert into zeus.gateway_fdd_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="busId != null">
        bus_id, 
      </if>
      <if test="reqType != null">
        req_type,
      </if>
      <if test="requestParam != null">
        request_param, 
      </if>
      <if test="responseParam != null">
        response_param, 
      </if>
      <if test="responseCode != null">
        response_code, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="busId != null">
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="reqType != null">
        #{reqType,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        #{requestParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseParam != null">
        #{responseParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseCode != null">
        #{responseCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.fdd.GatewayFddRecord">
    update zeus.gateway_fdd_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="busId != null">
        bus_id = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="reqType != null">
        req_type = #{reqType,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        request_param = #{requestParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseParam != null">
        response_param = #{responseParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseCode != null">
        response_code = #{responseCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>