<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月15日 16时37分04秒 by Generator -->
<mapper namespace="com._360pai.core.dao.fdd.mapper.GatewayFddMemberMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.fdd.GatewayFddMember">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="party_id" jdbcType="INTEGER" property="partyId" />
	<result column="customer_name" jdbcType="VARCHAR" property="customerName" />
	<result column="mobile" jdbcType="VARCHAR" property="mobile" />
	<result column="ident_type" jdbcType="VARCHAR" property="identType" />
	<result column="id_card" jdbcType="VARCHAR" property="idCard" />
	<result column="email" jdbcType="VARCHAR" property="email" />
	<result column="fdd_id" jdbcType="VARCHAR" property="fddId" />
	<result column="status" jdbcType="VARCHAR" property="status" />
	<result column="msg" jdbcType="VARCHAR" property="msg" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, party_id, customer_name, mobile, ident_type, id_card, 
	email, fdd_id, status, msg, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.gateway_fdd_member
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.fdd.GatewayFddMemberCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.gateway_fdd_member
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="partyId != null">
        AND party_id = #{partyId,jdbcType=INTEGER}
      </if>
      <if test="customerName != null">
        AND customer_name = #{customerName,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="identType != null">
        AND ident_type = #{identType,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null">
        AND id_card = #{idCard,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="fddId != null">
        AND fdd_id = #{fddId,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="msg != null">
        AND msg = #{msg,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.fdd.GatewayFddMember">
    insert into zeus.gateway_fdd_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="partyId != null">
        party_id, 
      </if>
      <if test="customerName != null">
        customer_name, 
      </if>
      <if test="mobile != null">
        mobile, 
      </if>
      <if test="identType != null">
        ident_type, 
      </if>
      <if test="idCard != null">
        id_card, 
      </if>
      <if test="email != null">
        email, 
      </if>
      <if test="fddId != null">
        fdd_id, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="msg != null">
        msg, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="identType != null">
        #{identType,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fddId != null">
        #{fddId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.fdd.GatewayFddMember">
    update zeus.gateway_fdd_member
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="identType != null">
        ident_type = #{identType,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fddId != null">
        fdd_id = #{fddId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>