<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月16日 16时13分05秒 by Generator -->
<mapper namespace="com.winback.core.dao._case.mapper.TCaseStepNoticeTemplateMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model._case.TCaseStepNoticeTemplate">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_desc" jdbcType="VARCHAR" property="nameDesc" />
    <result column="branch_step_id" jdbcType="INTEGER" property="branchStepId" />
	<result column="step_id" jdbcType="INTEGER" property="stepId" />
	<result column="type" jdbcType="INTEGER" property="type" />
	<result column="order_desc" jdbcType="INTEGER" property="orderDesc" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, name, name_desc, branch_step_id, step_id, type, order_desc, delete_flag,
	create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_case_step_notice_template
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition._case.TCaseStepNoticeTemplateCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_case_step_notice_template
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="nameDesc != null">
        AND name_desc = #{nameDesc,jdbcType=VARCHAR}
      </if>
      <if test="branchStepId != null">
        AND branch_step_id = #{branchStepId,jdbcType=INTEGER}
      </if>
      <if test="stepId != null">
        AND step_id = #{stepId,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="orderDesc != null">
        AND order_desc = #{orderDesc,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model._case.TCaseStepNoticeTemplate">
    insert into win.t_case_step_notice_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="nameDesc != null">
        name_desc,
      </if>
      <if test="branchStepId != null">
        branch_step_id,
      </if>
      <if test="stepId != null">
        step_id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="orderDesc != null">
        order_desc, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null">
        #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="branchStepId != null">
        #{branchStepId,jdbcType=INTEGER},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderDesc != null">
        #{orderDesc,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model._case.TCaseStepNoticeTemplate">
    update win.t_case_step_notice_template
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null">
        name_desc = #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="branchStepId != null">
        branch_step_id = #{branchStepId,jdbcType=INTEGER},
      </if>
      <if test="stepId != null">
        step_id = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderDesc != null">
        order_desc = #{orderDesc,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getTemplateByStepId" parameterType="String" resultType="com.winback.core.vo._case.TCaseStepNoticeTemplateVO">
    SELECT
        id AS id,
        step_id AS stepId,
        type AS type,
        NAME AS NAME,
        name_desc AS nameDesc
    FROM
        `t_case_step_notice_template`
    WHERE
        1 = 1
        and delete_flag = 0
        and step_id = #{stepId}
        ORDER BY
        update_time ASC
  </select>


  <select id="getTemplateByBranchId" parameterType="String" resultType="com.winback.core.vo._case.TCaseStepNoticeTemplateVO">
    SELECT
        tcsnt.id AS id,
        tcsnt.step_id AS stepId,
        tcsnt.type AS type,
        tcsnt.NAME AS NAME,
        tcsnt.name_desc AS nameDesc
    FROM
        t_case_step tcs
        LEFT JOIN t_case_step_branch tcsb ON tcsb.step_id = tcs.id
        LEFT JOIN t_case_step_notice_template tcsnt ON tcsnt.step_id = tcsb.id
    WHERE
        1 = 1
        AND tcs.id = #{stepId}
        AND tcs.delete_flag = 0
        AND tcsb.delete_flag = 0
        AND tcsnt.delete_flag = 0
  </select>

</mapper>