<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年03月07日 15时53分28秒 by Generator -->
<mapper namespace="com.tzCloud.core.dao.caseMatching.mapper.TTreeContentMapper">

    <resultMap id="BaseResultMap" type="com.tzCloud.core.model.caseMatching.TTreeContent">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="key_word" jdbcType="VARCHAR" property="keyWord"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="field" jdbcType="VARCHAR" property="field"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="key_word" jdbcType="VARCHAR" property="keyWord"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="field" jdbcType="VARCHAR" property="field"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, key_word, parent_id, field, id, key_word, 
	parent_id, field
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tree_content
    </select>

    <select id="selectByCondition" parameterType="com.tzCloud.core.condition.caseMatching.TTreeContentCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tree_content
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="keyWord != null">
                AND key_word = #{keyWord,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="field != null">
                AND field = #{field,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="keyWord != null">
                AND key_word = #{keyWord,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="field != null">
                AND field = #{field,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.tzCloud.core.model.caseMatching.TTreeContent">
        insert into t_tree_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="keyWord != null">
                key_word,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="field != null">
                field,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="keyWord != null">
                key_word,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="field != null">
                field,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null">
                #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="field != null">
                #{field,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null">
                #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="field != null">
                #{field,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.tzCloud.core.model.caseMatching.TTreeContent">
        update t_tree_content
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null">
                key_word = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="field != null">
                field = #{field,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null">
                key_word = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="field != null">
                field = #{field,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <select id="findAllBrief" resultType="com.tzCloud.core.model.caseMatching.TTreeContent">
      select tc.*
      from t_tree_content tc
      where tc.field like '%案由'
  </select>

    <select id="findBriefLevelById" resultType="com.tzCloud.core.facade.legalEngine.vo.Brief">
    select c4.id fourthId,c4.parent_id thirdId,c3.parent_id secondId,c2.parent_id firstId
    from t_tree_content c4
    inner join t_tree_content c3 on c3.id=c4.parent_id
    inner join t_tree_content c2 on c2.id=c3.parent_id
    where c4.id=#{id}
  </select>
    <select id="likeByKeyWord" resultType="com.tzCloud.core.model.caseMatching.TTreeContent">
        SELECT * FROM `t_tree_content` WHERE `key_word` LIKE  concat('%',#{name},'%')
    </select>
</mapper>