<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月03日 12时40分06秒 by Generator -->
<mapper namespace="com._360pai.core.dao.comprador.mapper.TCompradorRequirementRecommenderMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.comprador.TCompradorRequirementRecommender">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="recommender_no" jdbcType="VARCHAR" property="recommenderNo"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="party_id" jdbcType="INTEGER" property="partyId"/>
        <result column="requirement_id" jdbcType="INTEGER" property="requirementId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="recommender_status" jdbcType="CHAR" property="recommenderStatus"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="operator_id" jdbcType="VARCHAR" property="operatorId"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, recommender_no, account_id, party_id,requirement_id, description, recommender_status,
	remark, is_delete, created_time, update_time, operator_id
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_comprador_requirement_recommender where id_delete = 0
    </select>

    <select id="selectByCondition"
            parameterType="com._360pai.core.condition.comprador.TCompradorRequirementRecommenderCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.t_comprador_requirement_recommender
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recommenderNo != null and recommenderNo != '' ">
                AND recommender_no = #{recommenderNo,jdbcType=VARCHAR}
            </if>
            <if test="accountId != null and accountId != ''">
                AND account_id = #{accountId,jdbcType=INTEGER}
            </if>
            <if test="partyId != null  and partyId != ''">
                AND party_id = #{partyId,jdbcType=INTEGER}
            </if>

            <if test="requirementId != null">
                AND requirement_id = #{requirementId,jdbcType=INTEGER}
            </if>
            <if test="description != null">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="recommenderStatus != null  and recommenderStatus != ''">
                AND recommender_status = #{recommenderStatus,jdbcType=CHAR}
            </if>


            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="operatorId != null">
                AND operator_id = #{operatorId,jdbcType=VARCHAR}
            </if>

            <if test="createdTime != null ">
                AND DATE_FORMAT(created_time, '%Y-%m-%d') = DATE_FORMAT(#{createdTime}, '%Y-%m-%d')
            </if>
            <if test="remark != null and  remark == '0'.toString() ">
                AND remark is null
            </if>
            <if test="remark != null and  remark == '1'.toString() ">
                AND remark is not null
            </if>
            AND is_delete = 0
        </where>
        order by id desc
    </select>


    <select id="getCountByRequirementId" resultType="java.lang.Integer">
      select count(1) from
      zeus.t_comprador_requirement_recommender where  requirement_id =   #{requirementId}
      and is_delete = 0
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.comprador.TCompradorRequirementRecommender">
        insert into zeus.t_comprador_requirement_recommender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="recommenderNo != null">
                recommender_no,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="partyId != null">
                party_id,
            </if>
            <if test="requirementId != null">
                requirement_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="recommenderStatus != null">
                recommender_status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="recommenderNo != null">
                #{recommenderNo,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>

            <if test="partyId != null">
                #{partyId,jdbcType=INTEGER},
            </if>
            <if test="requirementId != null">
                #{requirementId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="recommenderStatus != null">
                #{recommenderStatus,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatorId != null">
                #{operatorId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.comprador.TCompradorRequirementRecommender">
        update zeus.t_comprador_requirement_recommender
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="recommenderNo != null">
                recommender_no = #{recommenderNo,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="partyId != null">
                party_id = #{partyId,jdbcType=INTEGER},
            </if>
            <if test="requirementId != null">
                requirement_id = #{requirementId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="recommenderStatus != null">
                recommender_status = #{recommenderStatus,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

</mapper>