<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年04月28日 14时58分37秒 by Generator -->
<mapper namespace="com._360pai.core.dao.numberJump.mapper.TCalculatorRequestRecordMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.numberJump.TCalculatorRequestRecord">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="ext_bind_id" jdbcType="INTEGER" property="extBindId" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="input_parameter" jdbcType="VARCHAR" property="inputParameter" />
	<result column="output_parameter" jdbcType="VARCHAR" property="outputParameter" />
	<result column="is_delete" jdbcType="BIT" property="isDelete" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, ext_bind_id, type, input_parameter, output_parameter, is_delete, 
	create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_calculator_request_record
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.numberJump.TCalculatorRequestRecordCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_calculator_request_record
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="extBindId != null">
        AND ext_bind_id = #{extBindId,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="inputParameter != null">
        AND input_parameter = #{inputParameter,jdbcType=VARCHAR}
      </if>
      <if test="outputParameter != null">
        AND output_parameter = #{outputParameter,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.numberJump.TCalculatorRequestRecord">
    insert into zeus.t_calculator_request_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="extBindId != null">
        ext_bind_id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="inputParameter != null">
        input_parameter, 
      </if>
      <if test="outputParameter != null">
        output_parameter, 
      </if>
      <if test="isDelete != null">
        is_delete, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="extBindId != null">
        #{extBindId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="inputParameter != null">
        #{inputParameter,jdbcType=VARCHAR},
      </if>
      <if test="outputParameter != null">
        #{outputParameter,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.numberJump.TCalculatorRequestRecord">
    update zeus.t_calculator_request_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="extBindId != null">
        ext_bind_id = #{extBindId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="inputParameter != null">
        input_parameter = #{inputParameter,jdbcType=VARCHAR},
      </if>
      <if test="outputParameter != null">
        output_parameter = #{outputParameter,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>