<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分46秒 by Generator -->
<mapper namespace="com._360pai.core.dao.account.mapper.AccountCompanyMapMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.account.AccountCompanyMap">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="account_id" jdbcType="INTEGER" property="accountId" />
        <result column="company_id" jdbcType="INTEGER" property="companyId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="is_delete" jdbcType="BIT" property="isDelete" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, company_id, name, is_delete, create_time,
        update_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from zeus.account_company_map
    </select>

    <select id="selectByCondition" parameterType="com._360pai.core.condition.account.AccountCompanyMapCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from zeus.account_company_map
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="accountId != null">
                AND account_id = #{accountId,jdbcType=INTEGER}
            </if>
            <if test="companyId != null">
                AND company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="isDelete != null">
                AND is_delete = #{isDelete,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.account.AccountCompanyMap">
        insert into zeus.account_company_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.account.AccountCompanyMap">
        update zeus.account_company_map
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <select id="getList" parameterType="java.util.Map" resultType="com._360pai.core.facade.account.vo.CompanyMemberVo">
        select a.id,a.mobile,m.name, case when c.account_id=a.id then true else false end isAdmin
        from zeus.account_company_map m
        inner join zeus.t_company c on c.id=m.company_id
        inner join zeus.t_account a on a.id = m.account_id
        where m.company_id=#{companyId} and m.is_delete='0'
    </select>
</mapper>