<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分47秒 by Generator -->
<mapper namespace="com._360pai.core.dao.account.mapper.AgencyPortalMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.account.AgencyPortal">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="agency_id" jdbcType="INTEGER" property="agencyId" />
	<result column="status" jdbcType="CHAR" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
	id, agency_id, status
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.agency_portal
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.account.AgencyPortalCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.agency_portal
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="agencyId != null">
        AND agency_id = #{agencyId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=CHAR}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.account.AgencyPortal">
    insert into zeus.agency_portal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="agencyId != null">
        agency_id, 
      </if>
      <if test="status != null">
        status, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null">
        #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.account.AgencyPortal">
    update zeus.agency_portal
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null">
        agency_id = #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>