<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年10月16日 14时02分33秒 by Generator -->
<mapper namespace="com._360pai.core.dao.account.mapper.AgencyCopyMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.account.AgencyCopy">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="account_license" jdbcType="VARCHAR" property="accountLicense" />
	<result column="address" jdbcType="VARCHAR" property="address" />
	<result column="authorization_img" jdbcType="VARCHAR" property="authorizationImg" />
	<result column="business_begin" jdbcType="TIMESTAMP" property="businessBegin" />
	<result column="business_end" jdbcType="TIMESTAMP" property="businessEnd" />
	<result column="city_id" jdbcType="INTEGER" property="cityId" />
	<result column="code" jdbcType="VARCHAR" property="code" />
	<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
	<result column="email" jdbcType="VARCHAR" property="email" />
	<result column="fadada_email" jdbcType="VARCHAR" property="fadadaEmail" />
	<result column="fadada_id" jdbcType="VARCHAR" property="fadadaId" />
	<result column="id_card" jdbcType="VARCHAR" property="idCard" />
	<result column="id_card_back_img" jdbcType="VARCHAR" property="idCardBackImg" />
	<result column="id_card_front_img" jdbcType="VARCHAR" property="idCardFrontImg" />
	<result column="introduction" jdbcType="VARCHAR" property="introduction" />
	<result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
	<result column="is_active" jdbcType="BIT" property="isActive" />
	<result column="license" jdbcType="VARCHAR" property="license" />
	<result column="license_img" jdbcType="VARCHAR" property="licenseImg" />
	<result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
	<result column="mem_code" jdbcType="VARCHAR" property="memCode" />
	<result column="mobile" jdbcType="VARCHAR" property="mobile" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="qualification_img" jdbcType="VARCHAR" property="qualificationImg" />
	<result column="qualification_number" jdbcType="VARCHAR" property="qualificationNumber" />
	<result column="qualified_begin" jdbcType="TIMESTAMP" property="qualifiedBegin" />
	<result column="qualified_end" jdbcType="TIMESTAMP" property="qualifiedEnd" />
	<result column="pay_bind" jdbcType="BIT" property="payBind" />
	<result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
	<result column="register_city_id" jdbcType="INTEGER" property="registerCityId" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="serve_buyer_percent" jdbcType="DECIMAL" property="serveBuyerPercent" />
	<result column="serve_seller_percent" jdbcType="DECIMAL" property="serveSellerPercent" />
	<result column="short_name" jdbcType="VARCHAR" property="shortName" />
	<result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction" />
	<result column="is_channel_agent" jdbcType="BIT" property="isChannelAgent" />
  </resultMap>

  <sql id="Base_Column_List">
	id, account_license, address, authorization_img, business_begin, business_end, 
	city_id, code, created_at, email, fadada_email, fadada_id, 
	id_card, id_card_back_img, id_card_front_img, introduction, legal_person, is_active, 
	license, license_img, logo_url, mem_code, mobile, name, 
	qualification_img, qualification_number, qualified_begin, qualified_end, pay_bind, register_address, 
	register_city_id, remark, serve_buyer_percent, serve_seller_percent, short_name, self_introduction, 
	is_channel_agent
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.agency_copy1
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.account.AgencyCopyCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.agency_copy1
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountLicense != null">
        AND account_license = #{accountLicense,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="authorizationImg != null">
        AND authorization_img = #{authorizationImg,jdbcType=VARCHAR}
      </if>
      <if test="businessBegin != null">
        AND business_begin = #{businessBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="businessEnd != null">
        AND business_end = #{businessEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="cityId != null">
        AND city_id = #{cityId,jdbcType=INTEGER}
      </if>
      <if test="code != null">
        AND code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="createdAt != null">
        AND created_at = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="email != null">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="fadadaEmail != null">
        AND fadada_email = #{fadadaEmail,jdbcType=VARCHAR}
      </if>
      <if test="fadadaId != null">
        AND fadada_id = #{fadadaId,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null">
        AND id_card = #{idCard,jdbcType=VARCHAR}
      </if>
      <if test="idCardBackImg != null">
        AND id_card_back_img = #{idCardBackImg,jdbcType=VARCHAR}
      </if>
      <if test="idCardFrontImg != null">
        AND id_card_front_img = #{idCardFrontImg,jdbcType=VARCHAR}
      </if>
      <if test="introduction != null">
        AND introduction = #{introduction,jdbcType=VARCHAR}
      </if>
      <if test="legalPerson != null">
        AND legal_person = #{legalPerson,jdbcType=VARCHAR}
      </if>
      <if test="isActive != null">
        AND is_active = #{isActive,jdbcType=BIT}
      </if>
      <if test="license != null">
        AND license = #{license,jdbcType=VARCHAR}
      </if>
      <if test="licenseImg != null">
        AND license_img = #{licenseImg,jdbcType=VARCHAR}
      </if>
      <if test="logoUrl != null">
        AND logo_url = #{logoUrl,jdbcType=VARCHAR}
      </if>
      <if test="memCode != null">
        AND mem_code = #{memCode,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="qualificationImg != null">
        AND qualification_img = #{qualificationImg,jdbcType=VARCHAR}
      </if>
      <if test="qualificationNumber != null">
        AND qualification_number = #{qualificationNumber,jdbcType=VARCHAR}
      </if>
      <if test="qualifiedBegin != null">
        AND qualified_begin = #{qualifiedBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="qualifiedEnd != null">
        AND qualified_end = #{qualifiedEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="payBind != null">
        AND pay_bind = #{payBind,jdbcType=BIT}
      </if>
      <if test="registerAddress != null">
        AND register_address = #{registerAddress,jdbcType=VARCHAR}
      </if>
      <if test="registerCityId != null">
        AND register_city_id = #{registerCityId,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="serveBuyerPercent != null">
        AND serve_buyer_percent = #{serveBuyerPercent,jdbcType=DECIMAL}
      </if>
      <if test="serveSellerPercent != null">
        AND serve_seller_percent = #{serveSellerPercent,jdbcType=DECIMAL}
      </if>
      <if test="shortName != null">
        AND short_name = #{shortName,jdbcType=VARCHAR}
      </if>
      <if test="selfIntroduction != null">
        AND self_introduction = #{selfIntroduction,jdbcType=VARCHAR}
      </if>
      <if test="isChannelAgent != null">
        AND is_channel_agent = #{isChannelAgent,jdbcType=BIT}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.account.AgencyCopy">
    insert into zeus.agency_copy1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="accountLicense != null">
        account_license, 
      </if>
      <if test="address != null">
        address, 
      </if>
      <if test="authorizationImg != null">
        authorization_img, 
      </if>
      <if test="businessBegin != null">
        business_begin, 
      </if>
      <if test="businessEnd != null">
        business_end, 
      </if>
      <if test="cityId != null">
        city_id, 
      </if>
      <if test="code != null">
        code, 
      </if>
      <if test="createdAt != null">
        created_at, 
      </if>
      <if test="email != null">
        email, 
      </if>
      <if test="fadadaEmail != null">
        fadada_email, 
      </if>
      <if test="fadadaId != null">
        fadada_id, 
      </if>
      <if test="idCard != null">
        id_card, 
      </if>
      <if test="idCardBackImg != null">
        id_card_back_img, 
      </if>
      <if test="idCardFrontImg != null">
        id_card_front_img, 
      </if>
      <if test="introduction != null">
        introduction, 
      </if>
      <if test="legalPerson != null">
        legal_person, 
      </if>
      <if test="isActive != null">
        is_active, 
      </if>
      <if test="license != null">
        license, 
      </if>
      <if test="licenseImg != null">
        license_img, 
      </if>
      <if test="logoUrl != null">
        logo_url, 
      </if>
      <if test="memCode != null">
        mem_code, 
      </if>
      <if test="mobile != null">
        mobile, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="qualificationImg != null">
        qualification_img, 
      </if>
      <if test="qualificationNumber != null">
        qualification_number, 
      </if>
      <if test="qualifiedBegin != null">
        qualified_begin, 
      </if>
      <if test="qualifiedEnd != null">
        qualified_end, 
      </if>
      <if test="payBind != null">
        pay_bind, 
      </if>
      <if test="registerAddress != null">
        register_address, 
      </if>
      <if test="registerCityId != null">
        register_city_id, 
      </if>
      <if test="remark != null">
        remark, 
      </if>
      <if test="serveBuyerPercent != null">
        serve_buyer_percent, 
      </if>
      <if test="serveSellerPercent != null">
        serve_seller_percent, 
      </if>
      <if test="shortName != null">
        short_name, 
      </if>
      <if test="selfIntroduction != null">
        self_introduction, 
      </if>
      <if test="isChannelAgent != null">
        is_channel_agent, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountLicense != null">
        #{accountLicense,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="authorizationImg != null">
        #{authorizationImg,jdbcType=VARCHAR},
      </if>
      <if test="businessBegin != null">
        #{businessBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="businessEnd != null">
        #{businessEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fadadaEmail != null">
        #{fadadaEmail,jdbcType=VARCHAR},
      </if>
      <if test="fadadaId != null">
        #{fadadaId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImg != null">
        #{idCardBackImg,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontImg != null">
        #{idCardFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="license != null">
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseImg != null">
        #{licenseImg,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="memCode != null">
        #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qualificationImg != null">
        #{qualificationImg,jdbcType=VARCHAR},
      </if>
      <if test="qualificationNumber != null">
        #{qualificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="qualifiedBegin != null">
        #{qualifiedBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="qualifiedEnd != null">
        #{qualifiedEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="payBind != null">
        #{payBind,jdbcType=BIT},
      </if>
      <if test="registerAddress != null">
        #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="registerCityId != null">
        #{registerCityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="serveBuyerPercent != null">
        #{serveBuyerPercent,jdbcType=DECIMAL},
      </if>
      <if test="serveSellerPercent != null">
        #{serveSellerPercent,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="selfIntroduction != null">
        #{selfIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="isChannelAgent != null">
        #{isChannelAgent,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.account.AgencyCopy">
    update zeus.agency_copy1
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="accountLicense != null">
        account_license = #{accountLicense,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="authorizationImg != null">
        authorization_img = #{authorizationImg,jdbcType=VARCHAR},
      </if>
      <if test="businessBegin != null">
        business_begin = #{businessBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="businessEnd != null">
        business_end = #{businessEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fadadaEmail != null">
        fadada_email = #{fadadaEmail,jdbcType=VARCHAR},
      </if>
      <if test="fadadaId != null">
        fadada_id = #{fadadaId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImg != null">
        id_card_back_img = #{idCardBackImg,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontImg != null">
        id_card_front_img = #{idCardFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="license != null">
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseImg != null">
        license_img = #{licenseImg,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="memCode != null">
        mem_code = #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="qualificationImg != null">
        qualification_img = #{qualificationImg,jdbcType=VARCHAR},
      </if>
      <if test="qualificationNumber != null">
        qualification_number = #{qualificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="qualifiedBegin != null">
        qualified_begin = #{qualifiedBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="qualifiedEnd != null">
        qualified_end = #{qualifiedEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="payBind != null">
        pay_bind = #{payBind,jdbcType=BIT},
      </if>
      <if test="registerAddress != null">
        register_address = #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="registerCityId != null">
        register_city_id = #{registerCityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="serveBuyerPercent != null">
        serve_buyer_percent = #{serveBuyerPercent,jdbcType=DECIMAL},
      </if>
      <if test="serveSellerPercent != null">
        serve_seller_percent = #{serveSellerPercent,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="selfIntroduction != null">
        self_introduction = #{selfIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="isChannelAgent != null">
        is_channel_agent = #{isChannelAgent,jdbcType=BIT},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>