<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分49秒 by Generator -->
<mapper namespace="com._360pai.core.dao.activity.mapper.AuctionActivityViewCountMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.activity.AuctionActivityViewCount">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="activity_id" jdbcType="INTEGER" property="activityId" />
	<result column="view_count" jdbcType="INTEGER" property="viewCount" />
  </resultMap>

  <sql id="Base_Column_List">
	id, activity_id, view_count
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.auction_activity_view_count
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.activity.AuctionActivityViewCountCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.auction_activity_view_count
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="activityId != null">
        AND activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="viewCount != null">
        AND view_count = #{viewCount,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.activity.AuctionActivityViewCount">
    insert into zeus.auction_activity_view_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="activityId != null">
        activity_id, 
      </if>
      <if test="viewCount != null">
        view_count, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.activity.AuctionActivityViewCount">
    update zeus.auction_activity_view_count
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>