<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分49秒 by Generator -->
<mapper namespace="com._360pai.core.dao.activity.mapper.AuctionActivityCategoryMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.activity.AuctionActivityCategory">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="asset_type" jdbcType="CHAR" property="assetType" />
	<result column="priority" jdbcType="INTEGER" property="priority" />
  </resultMap>

  <sql id="Base_Column_List">
	id, name, asset_type, priority
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.auction_activity_category
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.activity.AuctionActivityCategoryCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.auction_activity_category
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="assetType != null">
        AND asset_type = #{assetType,jdbcType=CHAR}
      </if>
      <if test="priority != null">
        AND priority = #{priority,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.activity.AuctionActivityCategory">
    insert into zeus.auction_activity_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="assetType != null">
        asset_type, 
      </if>
      <if test="priority != null">
        priority, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        #{assetType,jdbcType=CHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.activity.AuctionActivityCategory">
    update zeus.auction_activity_category
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        asset_type = #{assetType,jdbcType=CHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>