<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分49秒 by Generator -->
<mapper namespace="com._360pai.core.dao.activity.mapper.AuctionActivityAlbumMapMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.activity.AuctionActivityAlbumMap">
	<result column="album_id" jdbcType="INTEGER" property="albumId" />
	<result column="activity_id" jdbcType="INTEGER" property="activityId" />
      <result column="activity_type" jdbcType="VARCHAR" property="activityType" />
      <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>

  <sql id="Base_Column_List">
	album_id, activity_id, activity_type, order_num
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.auction_activity_album_map
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.activity.AuctionActivityAlbumMapCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.auction_activity_album_map
	<where>
      <if test="albumId != null">
        AND album_id = #{albumId,jdbcType=INTEGER}
      </if>
      <if test="activityId != null">
        AND activity_id = #{activityId,jdbcType=INTEGER}
      </if>
        <if test="activityType != null">
            AND activity_type = #{activityType,jdbcType=VARCHAR}
        </if>
        <if test="orderNum != null">
            AND order_num = #{orderNum,jdbcType=INTEGER}
        </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.activity.AuctionActivityAlbumMap">
    insert into zeus.auction_activity_album_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        album_id, 
      </if>
      <if test="activityId != null">
        activity_id, 
      </if>
        <if test="activityType != null">
            activity_type,
        </if>
        <if test="orderNum != null">
            order_num,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
        <if test="activityType != null">
            #{activityType,jdbcType=VARCHAR},
        </if>
        <if test="orderNum != null">
            #{orderNum,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.activity.AuctionActivityAlbumMap">
    update zeus.auction_activity_album_map
    <set>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
        <if test="activityType != null">
            activity_type = #{activityType,jdbcType=VARCHAR},
        </if>
        <if test="orderNum != null">
            order_num = #{orderNum,jdbcType=INTEGER},
        </if>
    </set>
	<where>
	  AND ID = #{ID,jdbcType=VARCHAR}
	</where>
  </update>



    <select id="getAuctionActivityCountByAlbumId" resultType="int">
      select count(0)
      from (
          select m.activity_id
          from zeus.auction_activity_album_map m
          inner join zeus.auction_activity aa
                on aa.id=m.activity_id and aa.delete_flag = 0 and aa.visibility_level = 'PLATFORM_DEFAULT'
                  and  now() > aa.preview_at and aa.status not in ('PLATFORM_REVIEWING','PLATFORM_APPROVED','CANCELLED','UNCONFIRMED','AGENCY_PENDING','AGENCY_REJECT','PLATFORM_REJECTED')
          where m.activity_type='auction' and m.album_id=#{id}
          union all
          select m.activity_id
          from zeus.auction_activity_album_map m
          inner join zeus.enrolling_activity e
                on e.id=m.activity_id and e.delete_flag = 0 and e.status in ( "ONLINE", "FINISHED", "CLOSED")
                  and e.visibility_level = 'PLATFORM_DEFAULT' and e.begin_at &lt; NOW()
          where m.activity_type='enrolling' and m.album_id=#{id}
      ) t

    </select>

    <delete id="delete" parameterType="com._360pai.core.model.activity.AuctionActivityAlbumMap">
        delete from zeus.auction_activity_album_map where album_id=#{albumId} and activity_id=#{activityId}
    </delete>
</mapper>