<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分50秒 by Generator -->
<mapper namespace="com._360pai.core.dao.activity.mapper.DealAnnouncementMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.activity.DealAnnouncement">
	<result column="id" jdbcType="INTEGER" property="id" />
  </resultMap>

  <sql id="Base_Column_List">
	id
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.deal_announcement
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.activity.DealAnnouncementCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.deal_announcement
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.activity.DealAnnouncement">
    insert into zeus.deal_announcement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.activity.DealAnnouncement">
    update zeus.deal_announcement
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>