<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分50秒 by Generator -->
<mapper namespace="com._360pai.core.dao.activity.mapper.ViewEnrollmentsOrderMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.activity.ViewEnrollmentsOrder">
	<result column="id" jdbcType="BIGINT" property="id" />
	<result column="activity_id" jdbcType="INTEGER" property="activityId" />
	<result column="amount" jdbcType="DECIMAL" property="amount" />
	<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
	<result column="paid" jdbcType="BIT" property="paid" />
  </resultMap>

  <sql id="Base_Column_List">
	id, activity_id, amount, created_at, paid
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.view_enrollments_order
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.activity.ViewEnrollmentsOrderCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.view_enrollments_order
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="activityId != null">
        AND activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="createdAt != null">
        AND created_at = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="paid != null">
        AND paid = #{paid,jdbcType=BIT}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.activity.ViewEnrollmentsOrder">
    insert into zeus.view_enrollments_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="activityId != null">
        activity_id, 
      </if>
      <if test="amount != null">
        amount, 
      </if>
      <if test="createdAt != null">
        created_at, 
      </if>
      <if test="paid != null">
        paid, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.activity.ViewEnrollmentsOrder">
    update zeus.view_enrollments_order
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=BIT},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=BIGINT}
	</where>
  </update>

</mapper>