<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年03月15日 11时13分23秒 by Generator -->
<mapper namespace="com.tzCloud.core.dao.view.mapper.ViewBriefLawyerRankingMapper">

  <resultMap id="BaseResultMap" type="com.tzCloud.core.model.view.ViewBriefLawyerRanking">
	<result column="lawyer_name" jdbcType="VARCHAR" property="lawyerName" />
	<result column="brief" jdbcType="VARCHAR" property="brief" />
	<result column="this_case_num" jdbcType="BIGINT" property="thisCaseNum" />
	<result column="this_case_win_rates" jdbcType="DECIMAL" property="thisCaseWinRates" />
  </resultMap>

  <sql id="Base_Column_List">
	lawyer_name, brief, this_case_num, this_case_win_rates
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from view_brief_lawyer_ranking
  </select>
  
  <select id="selectByCondition" parameterType="com.tzCloud.core.condition.view.ViewBriefLawyerRankingCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from view_brief_lawyer_ranking
	<where>
      <if test="lawyerName != null">
        AND lawyer_name = #{lawyerName,jdbcType=VARCHAR}
      </if>
      <if test="brief != null">
        AND brief = #{brief,jdbcType=VARCHAR}
      </if>
      <if test="thisCaseNum != null">
        AND this_case_num = #{thisCaseNum,jdbcType=BIGINT}
      </if>
      <if test="thisCaseWinRates != null">
        AND this_case_win_rates = #{thisCaseWinRates,jdbcType=DECIMAL}
      </if>
	</where>
  </select>
    <select id="getLawyerRankingList"
            resultType="com.tzCloud.core.facade.caseMatching.resp.LawyerForRankingListResp">
      select lawyer_name as lawyerName, this_case_num as thisCaseNum, this_case_win_rates as thisCaseWinRates
      from view_brief_lawyer_ranking
      <where>
        <if test="lawyerName != null">
          AND lawyer_name = #{lawyerName,jdbcType=VARCHAR}
        </if>
        <if test="brief != null">
          AND brief = #{brief,jdbcType=VARCHAR}
        </if>
      </where>
    </select>

    <insert id="insert" parameterType="com.tzCloud.core.model.view.ViewBriefLawyerRanking">
    insert into view_brief_lawyer_ranking
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lawyerName != null">
        lawyer_name, 
      </if>
      <if test="brief != null">
        brief, 
      </if>
      <if test="thisCaseNum != null">
        this_case_num, 
      </if>
      <if test="thisCaseWinRates != null">
        this_case_win_rates, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lawyerName != null">
        #{lawyerName,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="thisCaseNum != null">
        #{thisCaseNum,jdbcType=BIGINT},
      </if>
      <if test="thisCaseWinRates != null">
        #{thisCaseWinRates,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.tzCloud.core.model.view.ViewBriefLawyerRanking">
    update view_brief_lawyer_ranking
    <set>
      <if test="lawyerName != null">
        lawyer_name = #{lawyerName,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="thisCaseNum != null">
        this_case_num = #{thisCaseNum,jdbcType=BIGINT},
      </if>
      <if test="thisCaseWinRates != null">
        this_case_win_rates = #{thisCaseWinRates,jdbcType=DECIMAL},
      </if>
    </set>
	<where>
	  AND ID = #{ID,jdbcType=VARCHAR}
	</where>
  </update>

</mapper>