<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月25日 14时50分59秒 by Generator -->
<mapper namespace="com.winback.core.dao.account.mapper.TFranchiseeApplyRecordMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.account.TFranchiseeApplyRecord">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="account_id" jdbcType="INTEGER" property="accountId" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
	<result column="certificate_front_img" jdbcType="VARCHAR" property="certificateFrontImg" />
	<result column="certificate_back_img" jdbcType="VARCHAR" property="certificateBackImg" />
	<result column="license_img" jdbcType="VARCHAR" property="licenseImg" />
	<result column="license_number" jdbcType="VARCHAR" property="licenseNumber" />
	<result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction" />
	<result column="status" jdbcType="VARCHAR" property="status" />
	<result column="reason" jdbcType="VARCHAR" property="reason" />
	<result column="operator_id" jdbcType="INTEGER" property="operatorId" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, account_id, name, type, certificate_number, certificate_front_img, 
	certificate_back_img, license_img, license_number, self_introduction, status, reason, 
	operator_id, delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_franchisee_apply_record
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.account.TFranchiseeApplyRecordCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_franchisee_apply_record
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
        AND account_id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="certificateNumber != null">
        AND certificate_number = #{certificateNumber,jdbcType=VARCHAR}
      </if>
      <if test="certificateFrontImg != null">
        AND certificate_front_img = #{certificateFrontImg,jdbcType=VARCHAR}
      </if>
      <if test="certificateBackImg != null">
        AND certificate_back_img = #{certificateBackImg,jdbcType=VARCHAR}
      </if>
      <if test="licenseImg != null">
        AND license_img = #{licenseImg,jdbcType=VARCHAR}
      </if>
      <if test="licenseNumber != null">
        AND license_number = #{licenseNumber,jdbcType=VARCHAR}
      </if>
      <if test="selfIntroduction != null">
        AND self_introduction = #{selfIntroduction,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="reason != null">
        AND reason = #{reason,jdbcType=VARCHAR}
      </if>
      <if test="operatorId != null">
        AND operator_id = #{operatorId,jdbcType=INTEGER}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
    order by id desc
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.account.TFranchiseeApplyRecord">
    insert into win.t_franchisee_apply_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="accountId != null">
        account_id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="certificateNumber != null">
        certificate_number, 
      </if>
      <if test="certificateFrontImg != null">
        certificate_front_img, 
      </if>
      <if test="certificateBackImg != null">
        certificate_back_img, 
      </if>
      <if test="licenseImg != null">
        license_img, 
      </if>
      <if test="licenseNumber != null">
        license_number, 
      </if>
      <if test="selfIntroduction != null">
        self_introduction, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="reason != null">
        reason, 
      </if>
      <if test="operatorId != null">
        operator_id, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateFrontImg != null">
        #{certificateFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="certificateBackImg != null">
        #{certificateBackImg,jdbcType=VARCHAR},
      </if>
      <if test="licenseImg != null">
        #{licenseImg,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="selfIntroduction != null">
        #{selfIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.account.TFranchiseeApplyRecord">
    update win.t_franchisee_apply_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateFrontImg != null">
        certificate_front_img = #{certificateFrontImg,jdbcType=VARCHAR},
      </if>
      <if test="certificateBackImg != null">
        certificate_back_img = #{certificateBackImg,jdbcType=VARCHAR},
      </if>
      <if test="licenseImg != null">
        license_img = #{licenseImg,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        license_number = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="selfIntroduction != null">
        self_introduction = #{selfIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getList" parameterType="java.util.Map" resultType="com.winback.core.model.account.TFranchiseeApplyRecord">
    select r.*
    from win.t_franchisee_apply_record r
    inner join win.t_account a on a.id=r.account_id
    <where>
      r.delete_flag=0
      <if test="id != null and id !=''"> and r.id=#{id}</if>
      <if test="q != null and q !=''"> and r.name like concat('%',#{q},'%')</if>
      <if test="status != null and status !=''"> and r.status=#{status}</if>
      <if test="type != null and type !=''"> and r.type=#{type}</if>
      <if test="mobile != null and mobile !=''"> and a.mobile like concat('%',#{mobile},'%')</if>
      <if test="createdAtFrom != null and createdAtFrom !='' and createdAtTo != null and createdAtTo != ''">
        and r.create_time>=#{createdAtFrom} and r.create_time&lt;=#{createdAtTo}
      </if>
    </where>
  </select>
</mapper>