<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月30日 14时34分26秒 by Generator -->
<mapper namespace="com.winback.core.dao.account.mapper.TSysStaffMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.account.TSysStaff">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="mobile" jdbcType="VARCHAR" property="mobile" />
	<result column="password" jdbcType="VARCHAR" property="password" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="email" jdbcType="VARCHAR" property="email" />
	<result column="qq" jdbcType="VARCHAR" property="qq" />
	<result column="dept" jdbcType="VARCHAR" property="dept" />
	<result column="memo" jdbcType="VARCHAR" property="memo" />
	<result column="admin_flag" jdbcType="BIT" property="adminFlag" />
	<result column="status" jdbcType="BIT" property="status" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, mobile, password, name, email, qq, 
	dept, memo, admin_flag, status, delete_flag, create_time, 
	update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_sys_staff
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.account.TSysStaffCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_sys_staff
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="qq != null">
        AND qq = #{qq,jdbcType=VARCHAR}
      </if>
      <if test="dept != null">
        AND dept = #{dept,jdbcType=VARCHAR}
      </if>
      <if test="memo != null">
        AND memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="adminFlag != null">
        AND admin_flag = #{adminFlag,jdbcType=BIT}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=BIT}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com.winback.core.model.account.TSysStaff" useGeneratedKeys="true" keyProperty="id">
    insert into win.t_sys_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="mobile != null">
        mobile, 
      </if>
      <if test="password != null">
        password, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="email != null">
        email, 
      </if>
      <if test="qq != null">
        qq, 
      </if>
      <if test="dept != null">
        dept, 
      </if>
      <if test="memo != null">
        memo, 
      </if>
      <if test="adminFlag != null">
        admin_flag, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="adminFlag != null">
        #{adminFlag,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.account.TSysStaff">
    update win.t_sys_staff
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="adminFlag != null">
        admin_flag = #{adminFlag,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

  <select id="getList" parameterType="java.util.Map" resultType="com.winback.core.model.account.TSysStaff">
    select s.*
    from win.t_sys_staff s
    <where>
      s.delete_flag=0
      <if test="id != null and id !=''"> and s.id = #{id}</if>
      <if test="q != null and q !=''"> and s.name like concat('%',#{q},'%')</if>
      <if test="status != null and status !=''"> and s.status=#{status}</if>
      <if test="mobile != null and mobile !=''"> and s.mobile like concat('%',#{mobile},'%')</if>
      <if test="dept != null and dept !=''"> and s.dept like concat('%',#{dept},'%')</if>
    </where>
  </select>
</mapper>