<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月25日 17时01分48秒 by Generator -->
<mapper namespace="com.winback.core.dao.operate.mapper.TOperateAnnouncementMapper">

  <resultMap id="BaseResultMap" type="com.winback.core.model.operate.TOperateAnnouncement">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="name_desc" jdbcType="VARCHAR" property="nameDesc" />
	<result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
	<result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
	<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, type, name, name_desc, delete_flag, begin_time, 
	end_time, create_time, update_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from win.t_operate_announcement
  </select>
  
  <select id="selectByCondition" parameterType="com.winback.core.condition.operate.TOperateAnnouncementCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from win.t_operate_announcement
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="nameDesc != null">
        AND name_desc = #{nameDesc,jdbcType=VARCHAR}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag,jdbcType=BIT}
      </if>
      <if test="beginTime != null">
        AND begin_time = #{beginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        AND end_time = #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert"  parameterType="com.winback.core.model.operate.TOperateAnnouncement">
    insert into win.t_operate_announcement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="nameDesc != null">
        name_desc, 
      </if>
      <if test="deleteFlag != null">
        delete_flag, 
      </if>
      <if test="beginTime != null">
        begin_time, 
      </if>
      <if test="endTime != null">
        end_time, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null">
        #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.winback.core.model.operate.TOperateAnnouncement">
    update win.t_operate_announcement
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null">
        name_desc = #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>
  
  <select id="getAnnouncementList" parameterType="com.winback.core.dto.operate.OperateAnnouncementDto" resultType="com.winback.core.vo.operate.OperateAnnouncementVO">
      SELECT
          id as id,
          NAME AS NAME,
          type AS type,
          create_time AS createTime,
          begin_time AS beginTime,
          end_time AS endTime
      FROM
          `t_operate_announcement`
      WHERE
          delete_flag = 0
      order by create_time desc
  </select>


  <select id="getHomeAnnouncementList" parameterType="com.winback.core.dto.operate.OperateAnnouncementDto" resultType="com.winback.core.vo.operate.HomeAnnouncementVO">
    SELECT
      id as id,
      NAME AS NAME
      FROM
        `t_operate_announcement`
      WHERE
      1 = 1
      and delete_flag = 0
      and begin_time &lt; NOW()
      and end_time &gt; NOW()
  </select>


  <select id="getAnnouncementById" parameterType="String" resultType="com.winback.core.vo.operate.AnnouncementDetailVO">
      SELECT
          id as id,
          NAME AS NAME,
          begin_time as beginTime,
          end_time as endTime,
          type as type
          FROM
            `t_operate_announcement`
          WHERE
          1 = 1
          AND id = #{id}
  </select>

</mapper>