<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019年01月08日 13时12分26秒 by Generator -->
<mapper namespace="com._360pai.core.dao.h5.mapper.TAnnualMeetingApplyRecordMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.h5.TAnnualMeetingApplyRecord">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="company_name" jdbcType="VARCHAR" property="companyName" />
	<result column="position" jdbcType="VARCHAR" property="position" />
	<result column="mobile" jdbcType="VARCHAR" property="mobile" />
	<result column="is_stay_overnight" jdbcType="BIT" property="isStayOvernight" />
	<result column="is_delete" jdbcType="BIT" property="isDelete" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
	id, name, company_name, position, mobile, is_stay_overnight, 
	is_delete, create_time
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_annual_meeting_apply_record
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.h5.TAnnualMeetingApplyRecordCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_annual_meeting_apply_record
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="companyName != null">
        AND company_name = #{companyName,jdbcType=VARCHAR}
      </if>
      <if test="position != null">
        AND position = #{position,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
        AND mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="isStayOvernight != null">
        AND is_stay_overnight = #{isStayOvernight,jdbcType=BIT}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.h5.TAnnualMeetingApplyRecord">
    insert into zeus.t_annual_meeting_apply_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="name != null">
        name, 
      </if>
      <if test="companyName != null">
        company_name, 
      </if>
      <if test="position != null">
        position, 
      </if>
      <if test="mobile != null">
        mobile, 
      </if>
      <if test="isStayOvernight != null">
        is_stay_overnight, 
      </if>
      <if test="isDelete != null">
        is_delete, 
      </if>
      <if test="createTime != null">
        create_time, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isStayOvernight != null">
        #{isStayOvernight,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.h5.TAnnualMeetingApplyRecord">
    update zeus.t_annual_meeting_apply_record
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isStayOvernight != null">
        is_stay_overnight = #{isStayOvernight,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>