<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分50秒 by Generator -->
<mapper namespace="com._360pai.core.dao.assistant.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.assistant.City">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="lat" jdbcType="FLOAT" property="lat"/>
        <result column="level_type" jdbcType="INTEGER" property="levelType"/>
        <result column="lng" jdbcType="FLOAT" property="lng"/>
        <result column="merger_name" jdbcType="VARCHAR" property="mergerName"/>
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="zip_code" jdbcType="VARCHAR" property="zipCode"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, name, province_id, city_code, code, lat, 
	level_type, lng, merger_name, pinyin, short_name, zip_code
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.city
    </select>

    <select id="selectByCondition" parameterType="com._360pai.core.condition.assistant.CityCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.city
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="provinceId != null">
                AND province_id = #{provinceId,jdbcType=INTEGER}
            </if>
            <if test="cityCode != null">
                AND city_code = #{cityCode,jdbcType=VARCHAR}
            </if>
            <if test="code != null">
                AND code = #{code,jdbcType=INTEGER}
            </if>
            <if test="lat != null">
                AND lat = #{lat,jdbcType=FLOAT}
            </if>
            <if test="levelType != null">
                AND level_type = #{levelType,jdbcType=INTEGER}
            </if>
            <if test="lng != null">
                AND lng = #{lng,jdbcType=FLOAT}
            </if>
            <if test="mergerName != null">
                AND merger_name = #{mergerName,jdbcType=VARCHAR}
            </if>
            <if test="pinyin != null">
                AND pinyin = #{pinyin,jdbcType=VARCHAR}
            </if>
            <if test="shortName != null">
                AND short_name = #{shortName,jdbcType=VARCHAR}
            </if>
            <if test="zipCode != null">
                AND zip_code = #{zipCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.assistant.City">
        insert into zeus.city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="levelType != null">
                level_type,
            </if>
            <if test="lng != null">
                lng,
            </if>
            <if test="mergerName != null">
                merger_name,
            </if>
            <if test="pinyin != null">
                pinyin,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="zipCode != null">
                zip_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=FLOAT},
            </if>
            <if test="levelType != null">
                #{levelType,jdbcType=INTEGER},
            </if>
            <if test="lng != null">
                #{lng,jdbcType=FLOAT},
            </if>
            <if test="mergerName != null">
                #{mergerName,jdbcType=VARCHAR},
            </if>
            <if test="pinyin != null">
                #{pinyin,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                #{zipCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.assistant.City">
        update zeus.city
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=INTEGER},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=FLOAT},
            </if>
            <if test="levelType != null">
                level_type = #{levelType,jdbcType=INTEGER},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=FLOAT},
            </if>
            <if test="mergerName != null">
                merger_name = #{mergerName,jdbcType=VARCHAR},
            </if>
            <if test="pinyin != null">
                pinyin = #{pinyin,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <select id="pageCities" resultType="java.util.Map">
        select id,`name` from zeus.city where code in (
                310000,
                330100,
                330200,
                330300,
                330700,
                320100,
                320500,
                320200,
                320600,
                110000,
                120000,
                370100,
                410100,
                350100,
                440100,
                440300,
                500000,
                510100,
                340100,
                420100,
                360100,
                230100,
                210200,
                370200
            )
    </select>

    <select id="pageProvinces" resultType="java.util.Map">
        select id,`name` from zeus.province where code in (
            110000,120000,310000,500000,
            320000,330000,340000,350000,440000,430000,370000,130000,210000,450000,
            420000,430000,410000,530000,510000,610000,220000
        );
    </select>
    
    <select id="getCityList" resultType="com._360pai.core.vo.enrolling.web.EnrollingCityVO">
    	select id as cityId, name as cityName from city
    </select>


    <select id="getProvinceCityList" parameterType="java.util.List" resultType="com._360pai.core.vo.assistant.ProvinceCityVo">
        SELECT
        c.id AS cityId,
        p.id AS provinceId,
        p.NAME AS provinceName,
        c.NAME AS cityName
        FROM
        city c
        LEFT JOIN province p ON c.province_id = p.id
        WHERE
        c.id IN
        <foreach item="empnoItem" collection="cityIdList" open="(" separator="," close=")">
            #{empnoItem}
        </foreach>
    </select>



    <select id="getAllProvinceCityList"  resultType="com._360pai.core.vo.assistant.ProvinceCityVo">
        select c.id cityId, c.name cityName, p.id provinceId, p.name provinceName
        from zeus.province p
        left join zeus.city c on c.province_id = p.id and c.id > 0
    </select>

    <select id="getAllProvinceCityAreaList"  resultType="com._360pai.core.vo.assistant.ProvinceCityVo">
        select a.id areaId, a.name areaName, c.id cityId, c.name cityName, p.id provinceId, p.name provinceName
        from zeus.province p
        left join zeus.city c on c.province_id = p.id and c.id > 0
        left join zeus.area a on a.city_id = c.id

    </select>
</mapper>