<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年08月10日 17时32分51秒 by Generator -->
<mapper namespace="com._360pai.core.dao.assistant.mapper.InstructionsContentMapper">

    <resultMap id="BaseResultMap" type="com._360pai.core.model.assistant.InstructionsContent">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
	id, name, content, status
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.instructions_content
    </select>

    <select id="selectByCondition" parameterType="com._360pai.core.condition.assistant.InstructionsContentCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zeus.instructions_content
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="content != null">
                AND content = #{content,jdbcType=LONGVARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com._360pai.core.model.assistant.InstructionsContent">
        insert into zeus.instructions_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com._360pai.core.model.assistant.InstructionsContent">
        update zeus.instructions_content
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
        </set>
        <where>
            AND id = #{id,jdbcType=INTEGER}
        </where>
    </update>
    <delete id="deleteInstructionsContent">
        delete from zeus.instructions_content where id = #{paramId};
    </delete>

</mapper>