<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月27日 15时13分45秒 by Generator -->
<mapper namespace="com._360pai.core.dao.assistant.mapper.TPlatformArticleTypeMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.assistant.TPlatformArticleType">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
	<result column="image" jdbcType="VARCHAR" property="image" />
	<result column="status" jdbcType="INTEGER" property="status" />
	<result column="type" jdbcType="INTEGER" property="type" />
	<result column="del_flag" jdbcType="INTEGER" property="delFlag" />
	<result column="show_news" jdbcType="INTEGER" property="showNews" />
	<result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>

  <sql id="Base_Column_List">
	id, article_title, image, status, type, del_flag,show_news,order_num
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_platform_article_type
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.assistant.TPlatformArticleTypeCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_platform_article_type
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="articleTitle != null">
        AND article_title = #{articleTitle,jdbcType=VARCHAR}
      </if>
      <if test="image != null">
        AND image = #{image,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="delFlag != null">
        AND del_flag = #{delFlag,jdbcType=INTEGER}
      </if>
      <if test="showNews != null">
        AND show_news = #{showNews,jdbcType=INTEGER}
      </if>
      <if test="orderNum != null">
        AND order_num = #{orderNum,jdbcType=INTEGER}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.assistant.TPlatformArticleType">
    insert into zeus.t_platform_article_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="articleTitle != null">
        article_title, 
      </if>
      <if test="image != null">
        image, 
      </if>
      <if test="status != null">
        status, 
      </if>
      <if test="type != null">
        type, 
      </if>
      <if test="delFlag != null">
        del_flag, 
      </if>
      <if test="showNews != null">
        show_news,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="showNews != null">
        #{showNews,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.assistant.TPlatformArticleType">
    update zeus.t_platform_article_type
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="showNews != null">
        show_news = #{showNews,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>