<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2018年09月06日 18时38分19秒 by Generator -->
<mapper namespace="com._360pai.core.dao.assistant.mapper.TServiceConfigMapper">

  <resultMap id="BaseResultMap" type="com._360pai.core.model.assistant.TServiceConfig">
	<result column="id" jdbcType="INTEGER" property="id" />
	<result column="config_type" jdbcType="INTEGER" property="configType" />
	<result column="config_value" jdbcType="VARCHAR" property="configValue" />
	<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
  </resultMap>

  <sql id="Base_Column_List">
	id, config_type, config_value, created_time, update_time, operator_id
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from zeus.t_service_config
  </select>
  
  <select id="selectByCondition" parameterType="com._360pai.core.condition.assistant.TServiceConfigCondition" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from zeus.t_service_config
	<where>
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="configType != null">
        AND config_type = #{configType,jdbcType=INTEGER}
      </if>
      <if test="configValue != null">
        AND config_value = #{configValue,jdbcType=VARCHAR}
      </if>
      <if test="createdTime != null">
        AND created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="operatorId != null">
        AND operator_id = #{operatorId,jdbcType=VARCHAR}
      </if>
	</where>
  </select>
  
  <insert id="insert" parameterType="com._360pai.core.model.assistant.TServiceConfig" useGeneratedKeys="true" keyProperty="id">
    insert into zeus.t_service_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id, 
      </if>
      <if test="configType != null">
        config_type, 
      </if>
      <if test="configValue != null">
        config_value, 
      </if>
      <if test="createdTime != null">
        created_time, 
      </if>
      <if test="updateTime != null">
        update_time, 
      </if>
      <if test="operatorId != null">
        operator_id, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="configType != null">
        #{configType,jdbcType=INTEGER},
      </if>
      <if test="configValue != null">
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com._360pai.core.model.assistant.TServiceConfig">
    update zeus.t_service_config
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="configType != null">
        config_type = #{configType,jdbcType=INTEGER},
      </if>
      <if test="configValue != null">
        config_value = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
    </set>
	<where>
      AND id = #{id,jdbcType=INTEGER}
	</where>
  </update>

</mapper>